@media screen and (min-width:500px ){
    .welcomePageImg{
    
        height: 100vh;
        width: 100vw;
        background-color: rgb(67, 106, 179);
        background-image: url("/public/pokémon2.avif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        display: flex;
        
       
        
    }
    
    
}

@media screen and (max-width:500px){
    .welcomePageImg{
    
        height: 100vh;
        width: 100vw;
        background-color: rgb(247, 247, 247);
        background-image: url("/public/pokemon\ 1.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        display: flex;
        
        
        
        
    }
    
}



.btnContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;;
    
}
