@media screen and (min-width:500px ){
    .welcomePageImg{
    
        height: 100vh;
        width: 100vw;
        background-color: rgb(67, 106, 179);
        background-image: url("/public/pokémon2.avif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        display: flex;
        
       
        
    }
    
    
}

@media screen and (max-width:500px){
    .welcomePageImg{
    
        height: 100vh;
        width: 100vw;
        background-color: rgb(247, 247, 247);
        background-image: url("/public/pokemon\ 1.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        display: flex;
        
        
        
        
    }
    
}

.loginBtn{
    background-color: rgb(9, 35, 141);
    height: 60px;
    width: 90px;
    color: rgb(250, 253, 253);
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;

}
.loginBtn:hover{
    background-color: rgb(47, 69, 160);
}
.loginBtn:active{
    background-color: rgb(8, 31, 122);

}

.btnContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;;
    
}
