*{
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    
}
.App{
    width: 100vw;
    height: 100vh;
}
button{
    background-color: rgb(9, 35, 141);
    height: 60px;
    width: 90px;
    color: rgb(250, 253, 253);
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;

}
button:hover{
    background-color: rgb(47, 69, 160);
}
button:active{
    background-color: rgb(8, 31, 122);

}

.errMsj{
    color: red;
    font-weight: bold;
}
